html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0; }

a {
  background-color: transparent; }

img {
  max-width: 100%;
  margin: 1rem 0 0 1rem;
  border: 0;
  border-radius: 5px; }

button,
input,
select,
textarea {
  font: inherit;
  margin: 0; }

figure {
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 1.75rem; }

td,
th {
  padding: 0.25rem 0.5rem; }

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9; }

body {
  color: #555;
  font-family: 'Libre Baskerville', serif;
  font-size: 100%;
  line-height: 1.85;
  letter-spacing: 0.01rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 0.75rem; }

h1 {font-size: 1.8rem; }

h2 {font-size: 1.5rem; }
.post-content h1 { font-size: 1.5rem; }

h3 {font-size: 1.25rem; }
.post-content h2 { font-size: 1.25rem; }

h4,
h5,
h6 {
  font-size: 1rem; }
.post-content h3 { font-size: 1rem; }

p,
dl,
ol,
ul
{
  margin-top: 0;
  margin-bottom: 1.75rem; }

li[id^='fn:'] {
	margin-bottom:1.75rem;
}

a {
  color: #2980b9;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline; }

code {
  font-family: Monaco, Courier, monospace;
  font-size: 0.85rem;
  color: #555;
  background-color: #f5f5f5;
  border: 1px solid #eef;
  border-radius: 3px;
  padding: 0.2em 0.5em; }

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9; }

pre code {
  font-family: Menlo, Monaco, Courier, monospace;
  font-size: 0.8rem;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none; }

blockquote {
  padding: 0.5rem 1rem;
  margin: 0.8rem 0 0.8rem -1.5rem;
  color: #7a7a7a;
  border-left: 0.3rem solid #e5e5e5; }
  blockquote p:last-child {
    margin-bottom: 0; }

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  width: 150px;
  margin: 1.5rem 0; }

button,
.btn {
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ccc;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 85%;
  line-height: normal;
  padding: 0.5rem 0.75rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-transition: all 0.3s;
          transition: all 0.3s; }
  button::-moz-focus-inner,
  .btn::-moz-focus-inner {
    padding: 0;
    border: 0; }
  button:hover, button:focus,
  .btn:hover,
  .btn:focus {
    color: #7fdbff;
    border: 1px solid #7fdbff;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
    text-decoration: none; }
  button:active,
  .btn:active {
    color: #0074d9;
    border: 1px solid #0074d9;
    -webkit-transition: all 0.3s;
            transition: all 0.3s; }

.header {
  position: relative;
  margin: 3rem auto; }

.site-title {
  font-size: 1.5rem; }
  .site-title a {
    color: #333; }

.nav {
  position: absolute;
  top: 0;
  left: -87px;
  text-align: right; }

.nav-btn {
  display: inline-block;
  line-height: 16px; }
  .nav-btn.is-on .ci-burger {
    background: transparent; }
  .nav-btn.is-on .ci-burger::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0; }
  .nav-btn.is-on .ci-burger::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 0; }
  .nav-btn.is-on + .nav-list {
    opacity: 1; }

.nav-list {
  list-style: none;
  font-size: 0.8rem;
  margin-top: 1rem;
  padding: 0;
  opacity: 0;
  -webkit-transition: all 0.2s;
          transition: all 0.2s; }

.nav-list .spacer {
	text-align: center;
}

.ci {
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  position: relative;
  vertical-align: top; }
  .ci:before, .ci:after {
    content: "";
    display: block;
    position: absolute; }

.ci-burger {
  width: 16px;
  height: 3px;
  top: 7px;
  left: 0;
  background: #333;
  -webkit-transition: all 0.3s;
          transition: all 0.3s; }
  .ci-burger:before, .ci-burger:after {
    width: 100%;
    height: 3px;
    background: #333;
    left: 0;
    -webkit-transition: all 0.3s;
            transition: all 0.3s; }
  .ci-burger:before {
    top: -6px; }
  .ci-burger:after {
    bottom: -6px; }

.container {
  *zoom: 1;
  width: auto;
  max-width: 54em;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0; }
/* enough margins to have space but not show the burger */
.container-inner {
  margin-left: 1em;
  margin-right: 1em;
}
  .container:before, .container:after {
    content: '';
    display: table; }
  .container:after {
    clear: both; }

.pagination {
  position: relative; }
  .pagination:before, .pagination:after {
    content: '';
    display: table; }
  .pagination:after {
    clear: both; }
  .pagination .previous {
    float: left; }
  .pagination .next {
    float: right; }

.footer {
  color: #95a5a6;
  font-size: 14px;
  text-align: center;
  margin: 2rem 0 1rem; }
  .footer a {
    color: #333; }

.post {
  position: relative;
  margin-bottom: 2rem; }

.post-title:after {
  content: '';
  display: block;
  border-top: 1px solid #ccc;
/* account for the left: -30px */
  width: 103%;
  position: absolute;
  top: 30px;
  left: -30px;
  z-index: -1; }

.post-title a {
  color: #333;
  background: #fff;
  line-height: 60px;
  position: relative;
  padding: 0 14px;
  margin-left: -14px;
  -webkit-transition: all 0.3s;
          transition: all 0.3s; }
  .post-title a:after, .post-title a:before {
    content: '';
    position: absolute;
    border: 3px solid transparent;
    top: 13px;
    -webkit-transition: all 0.3s;
            transition: all 0.3s; }
  .post-title a:before {
    left: -23px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .post-title a:after {
    -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
            transform: rotate(225deg);
    right: -23px; }
  .post-title a:hover:before, .post-title a:hover:after {
    border-top-color: #ccc;
    border-right-color: #ccc; }
  .post-title a:hover:before {
    left: -3px; }
  .post-title a:hover:after {
    right: -3px; }

.post-date {
  color: #ccc;
  font-size: 14px;
  margin-top: -25px;
  display:block;
  position: relative; }

.post-content {
  margin: 2rem 0; }

/* styling for tags on homepage */

.post-tags {
  color: #ccc;
  display: block;
  font-size: 14px;
  position: relative;
  margin-top: -25px;
  margin-right: 0;
  margin-left: auto;
  text-align: right;
  max-width: 525px;
}

.post-tags a {
	color: #ccc;
}

.post-content, .content {
  text-align: justify;
}

#disqus_thread {
  margin-top: 2em;
}
